*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}

/* HEAD SECTION */
.head-logo img {
    width: 50%;
}
.head {
    display: flex;
    justify-content: space-between;
}
.head .head-list ul {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.head .head-list ul li {
    list-style: none;
}
.head .head-list ul li a {
    text-decoration: none;
}
.head .head-logo {
    width: 20%;
}
.head .head-list {
    width: 60%;
}

/* HOME SECTION */
.home ul li{
    list-style: none;
}
.home ul li img{
    width: 100%;
    height: 600px;
}
.slider{
    padding: 0px;
}
.slick-next{
  right: 0px!important;
}
.slick-prev{
    left: 0px!important;
}
button.slick-next.slick-arrow{
    display: none!important;
}
button.slick-prev.slick-arrow{
    display: none!important;
}
/* ul.slider.slick-initialized.slick-slider {
    padding: 0px;
    margin: 0px;
} */
